version: "3.7"

services:

  db:
    image: mysql:5.7
    command: ["--lower_case_table_names=1","--ignore-db-dir=lost+found","--character-set-server=utf8mb4"]
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: farming_db
      MYSQL_USER: tp
      MYSQL_PASSWORD: tp
    restart: always
    volumes:
      - "./database/farming_db/:/application"
    ports:
      - "3306:3306"
    container_name: farming_mysql
    networks:
      - backend-network

  springboot:
    image: farming_springboot:0.0.1
    ports:
      - "8080:8080"
    volumes:
      - .:/farming/tmp:rw
    restart: always
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_USERNAME: tp
      SPRING_DATASOURCE_PASSWORD: tp
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/farming_db?useSSL=false
    networks:
      - backend-network
      - frontend-network

volumes:
  farming_db:


networks:
  backend-network:
    driver: bridge
  frontend-network: