version: "3.7"

services:

  db:
    image: mysql:5.7
    command: ["--lower_case_table_names=1","--ignore-db-dir=lost+found"]
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: farming_db
      MYSQL_USER: tp
      MYSQL_PASSWORD: tp
    restart: always
    volumes:
      - "./database/farming_db/:/application"
    ports:
      - "3306:3306"
    container_name: farming_mysql
    networks:
      - backend-network

  springboot:
    image: farming_springboot:0.0.1
    ports:
      - "5050:5050"
    volumes:
      - .:/farming/tmp:rw
    restart: always
    depends_on:
      - db
    environment:
      SPRINGBOOT_DB_USER: tp
      SPRINGBOOT_DB_PASSWORD: tp
      SPRINGBOOT_DB_NAME: farming_db
    networks:
      - backend-network
      - frontend-network

volumes:
  farming_db:


networks:
  backend-network:
  frontend-network: